In [1]:
def cal_total(exp):
    total = 0 
    for item in exp:
        total = total + item
    return total

tom_exp = [ 3200 , 3640 , 3240 , 3360 ]
joe_exp = [ 3400 , 3560 , 3600 , 3480 ]


toms_total = cal_total(tom_exp)
joes_total = cal_total(joe_exp)


print ( "TOM TOAL EXPENSES IS" , toms_total )
print ( "JOE TOAL EXPENSES IS" , joes_total )

TOM TOAL EXPENSES IS 13440
JOE TOAL EXPENSES IS 14040

In [2]:
def add (x,y):
    c = x + y
    return c

n = add(20,32)
print(n)

52

In [3]:
def add (x,y):
    c = x + y
    return c

n = add(20,32)
print("TOTAL:",n)

TOTAL: 52

In [4]:
def add (x,y):
    print("N1",x)
    print("N2",y)
    t = x + y
    print("TOTAL INSIDE FUNCTION :",t)
    return t

n = add(20,32)
print("TOTAL OUTSIDE FUNCTION :",n)

N1 20
N2 32
TOTAL INSIDE FUNCTION : 52
TOTAL OUTSIDE FUNCTION : 52

In [5]:
def add (x,y):
    print("N1",x)
    print("N2",y)
    t = x + y
    print("TOTAL INSIDE FUNCTION :",t)
    return t

print ( add(20,32) )

N1 20
N2 32
TOTAL INSIDE FUNCTION : 52
52

In [6]:
n = add ( x=12 , y=24 )
print(n)

N1 12
N2 24
TOTAL INSIDE FUNCTION : 36
36

In [7]:
n = add ( y=16 , x=32 )
print(n)

N1 32
N2 16
TOTAL INSIDE FUNCTION : 48
48

In [8]:
t = 100
def add (x,y):
    print("N1 :",x)
    print("N2 :",y)
    t = x + y
    print("TOTAL INSIDE FUNCTION :",t)
    return t

n = add(20,32)
print("TOTAL OUTSIDE FUNCTION :",t)

N1 : 20
N2 : 32
TOTAL INSIDE FUNCTION : 52
TOTAL OUTSIDE FUNCTION : 100

In [9]:
def add (x,y=42):
    print("N1 :",x)
    print("N2 :",y)
    t = x + y
    print("TOTAL INSIDE FUNCTION :",t)
    return t

n = add(48,64)
print ( "TOTAL OUTSIDE FUNCTION :" , n )

m = add(48)
print ( "TOTAL OUTSIDE FUNCTION :" , m )

N1 : 48
N2 : 64
TOTAL INSIDE FUNCTION : 112
TOTAL OUTSIDE FUNCTION : 112
N1 : 48
N2 : 42
TOTAL INSIDE FUNCTION : 90
TOTAL OUTSIDE FUNCTION : 90

In [10]:
def add (x,y=42):
    """
    THIS FUNCTION TAKES TWO INTEGER VALUES 
    AND RETURNS THE SUMS OF THE 
    INTERGER VALUES
    """
    print("N1 :",x)
    print("N2 :",y)
    t = x + y
    print("TOTAL INSIDE FUNCTION :",t)
    return t

n = add(48,64)
print ( "TOTAL OUTSIDE FUNCTION :" , n )

m = add(48)
print ( "TOTAL OUTSIDE FUNCTION :" , m )

N1 : 48
N2 : 64
TOTAL INSIDE FUNCTION : 112
TOTAL OUTSIDE FUNCTION : 112
N1 : 48
N2 : 42
TOTAL INSIDE FUNCTION : 90
TOTAL OUTSIDE FUNCTION : 90