In [1]:
num = input("ENTER THE NUMBER : ")
num = int(num)
if num % 2 == 0 :
    print("NUMBER IS EVEN")
else:
    print("NUMBER IS ODD")

ENTER THE NUMBER : 32
NUMBER IS EVEN

In [2]:
num = input("ENTER THE NUMBER : ")
num = int(num)
if num % 2 == 0 :
    print("NUMBER IS EVEN")
else:
    print("NUMBER IS ODD")

ENTER THE NUMBER : 81
NUMBER IS ODD

In [3]:
num = input("ENTER THE NUMBER : ")
num = int(num)
if num % 2 == 0 :
    print("NUMBER IS EVEN")
else:
    print("NUMBER IS ODD")

ENTER THE NUMBER : -6
NUMBER IS EVEN

In [4]:
num = input("ENTER THE NUMBER : ")
num = int(num)
if num % 2 == 0 :
    print("NUMBER IS EVEN")
else:
    print("NUMBER IS ODD")

ENTER THE NUMBER : 0
NUMBER IS EVEN

In [5]:
asia = [ "DELHI" , "JAKARTA" , "SINGAPORE" , "MANILA" , "HANOI" , "DHAKA" , "SEOUL" , "TOKYO" , "WUHAN" , "ANKARA" ]
america = [ "BOGOTA" , "LIMA", "BRASILLA" , "QUITO" , "CARACAS" , "MEDELLIN" , "NATAL" , "AUSTIN" , "BOSTON" , "CALGARY" ] 
europe = [ "LONDON" , "BERLIN" , "LISBON" , "MADRID" , "PARIS" , "ROME" , "OSLO" , "WARSAW" , "RIGA" , "BERN" ]
city = input("ENTER CITY NAME : ")

if city in asia:
    print("CITY IN ASIA")
    
elif city in america:
    print("CITY IN AMERICA")
    
elif city in europe:
    print("CITY IN EUROPE")
    
else:
    print("I DONT KNOW")

ENTER CITY NAME : HANOI
CITY IN ASIA

In [6]:
asia = [ "DELHI" , "JAKARTA" , "SINGAPORE" , "MANILA" , "HANOI" , "DHAKA" , "SEOUL" , "TOKYO" , "WUHAN" , "ANKARA" ]
america = [ "BOGOTA" , "LIMA", "BRASILLA" , "QUITO" , "CARACAS" , "MEDELLIN" , "NATAL" , "AUSTIN" , "BOSTON" , "CALGARY" ] 
europe = [ "LONDON" , "BERLIN" , "LISBON" , "MADRID" , "PARIS" , "ROME" , "OSLO" , "WARSAW" , "RIGA" , "BERN" ]
city = input("ENTER CITY NAME : ")

if city in asia:
    print("CITY IN ASIA")
    
elif city in america:
    print("CITY IN AMERICA")
    
elif city in europe:
    print("CITY IN EUROPE")
    
else:
    print("I DONT KNOW")

ENTER CITY NAME : NATAL
CITY IN AMERICA

In [7]:
asia = [ "DELHI" , "JAKARTA" , "SINGAPORE" , "MANILA" , "HANOI" , "DHAKA" , "SEOUL" , "TOKYO" , "WUHAN" , "ANKARA" ]
america = [ "BOGOTA" , "LIMA", "BRASILLA" , "QUITO" , "CARACAS" , "MEDELLIN" , "NATAL" , "AUSTIN" , "BOSTON" , "CALGARY" ] 
europe = [ "LONDON" , "BERLIN" , "LISBON" , "MADRID" , "PARIS" , "ROME" , "OSLO" , "WARSAW" , "RIGA" , "BERN" ]
city = input("ENTER CITY NAME : ")

if city in asia:
    print("CITY IN ASIA")
    
elif city in america:
    print("CITY IN AMERICA")
    
elif city in europe:
    print("CITY IN EUROPE")
    
else:
    print("I DONT KNOW")

ENTER CITY NAME : WARSAW
CITY IN EUROPE

In [8]:
asia = [ "DELHI" , "JAKARTA" , "SINGAPORE" , "MANILA" , "HANOI" , "DHAKA" , "SEOUL" , "TOKYO" , "WUHAN" , "ANKARA" ]
america = [ "BOGOTA" , "LIMA", "BRASILLA" , "QUITO" , "CARACAS" , "MEDELLIN" , "NATAL" , "AUSTIN" , "BOSTON" , "CALGARY" ] 
europe = [ "LONDON" , "BERLIN" , "LISBON" , "MADRID" , "PARIS" , "ROME" , "OSLO" , "WARSAW" , "RIGA" , "BERN" ]
city = input("ENTER CITY NAME : ")

if city in asia:
    print("CITY IN ASIA")
    
elif city in america:
    print("CITY IN AMERICA")
    
elif city in europe:
    print("CITY IN EUROPE")
    
else:
    print("I DONT KNOW")

ENTER CITY NAME : DUBAI
I DONT KNOW