In [1]:
expenses = [ 2400 , 2560 , 2340 , 2500 , 2480 , 2520 ]
total = 0
for x in expenses:
    total = total + x
print(total)

14800

In [2]:
for y in range(1,11):
    print(y)

1
2
3
4
5
6
7
8
9
10

In [3]:
for y in range(1,11):
    print(y*y)

1
4
9
16
25
36
49
64
81
100

In [4]:
expenses = [ 2400 , 2560 , 2340 , 2500 , 2480 , 2520 ]
total = 0 
for z in range(len(expenses)):
    print ( "MONTH :" , z+1 , "EXPENSE :" , expenses[z] )
    total = total + expenses[z]
print ( "MY TOTAL EXPENSES IS :" , total )

MONTH : 1 EXPENSE : 2400
MONTH : 2 EXPENSE : 2560
MONTH : 3 EXPENSE : 2340
MONTH : 4 EXPENSE : 2500
MONTH : 5 EXPENSE : 2480
MONTH : 6 EXPENSE : 2520
MY TOTAL EXPENSES IS : 14800

In [5]:
expenses = [ 2400 , 2560 , 2340 , 2500 , 2480 , 2520 ]
total = 0 
for z in range(6):
    print ( "MONTH :" , z+1 , "EXPENSE :" , expenses[z] )
    total = total + expenses[z]
print ( "MY TOTAL EXPENSES IS :" , total )

MONTH : 1 EXPENSE : 2400
MONTH : 2 EXPENSE : 2560
MONTH : 3 EXPENSE : 2340
MONTH : 4 EXPENSE : 2500
MONTH : 5 EXPENSE : 2480
MONTH : 6 EXPENSE : 2520
MY TOTAL EXPENSES IS : 14800

In [6]:
expenses = [ 2400 , 2560 , 2340 , 2500 , 2480 , 2520 ]
total = 0 
for z in range(0,6):
    print ( "MONTH :" , z+1 , "EXPENSE :" , expenses[z] )
    total = total + expenses[z]
print ( "MY TOTAL EXPENSES IS :" , total )

MONTH : 1 EXPENSE : 2400
MONTH : 2 EXPENSE : 2560
MONTH : 3 EXPENSE : 2340
MONTH : 4 EXPENSE : 2500
MONTH : 5 EXPENSE : 2480
MONTH : 6 EXPENSE : 2520
MY TOTAL EXPENSES IS : 14800

In [7]:
key_location = "chair"
locations = [ "table" , "garage" , "bedroom" , "hall" , "kitchen" , "livingroom" , 
             "chair" , "window" , "cupboard" , "templeroom" ]

for key in locations:
    if key == key_location:
        print ( "key is found in" , key )
    else:
        print ( "key is not found in" , key )

key is not found in table
key is not found in garage
key is not found in bedroom
key is not found in hall
key is not found in kitchen
key is not found in livingroom
key is found in chair
key is not found in window
key is not found in cupboard
key is not found in templeroom

In [8]:
key_location = "chair"
locations = [ "table" , "garage" , "bedroom" , "hall" , "kitchen" , "livingroom" , 
             "chair" , "window" , "cupboard" , "templeroom" ]

for key in locations:
    if key == key_location:
        print ( "key is found in" , key )
        break
    else:
        print ( "key is not found in" , key )

key is not found in table
key is not found in garage
key is not found in bedroom
key is not found in hall
key is not found in kitchen
key is not found in livingroom
key is found in chair

In [9]:
key_location = "chair"
locations = [ "table" , "garage" , "bedroom" , "hall" , "kitchen" , "livingroom" , 
             "chair" , "window" , "cupboard" , "templeroom" ]

for key in locations:
    if key == key_location:
        print ( "key is found in" , key )
        continue
    else:
        print ( "key is not found in" , key )

key is not found in table
key is not found in garage
key is not found in bedroom
key is not found in hall
key is not found in kitchen
key is not found in livingroom
key is found in chair
key is not found in window
key is not found in cupboard
key is not found in templeroom

In [10]:
for n in range(1,11):
    print(n*n)

1
4
9
16
25
36
49
64
81
100

In [11]:
for n in range(1,11):
    if n%2 == 0:
        continue
    print(n*n)

1
9
25
49
81

In [12]:
for n in range(1,11):
    if n%2 != 0:
        continue
    print(n*n)

4
16
36
64
100

In [13]:
m = 11
while m <= 20:
    print(m)
    m = m + 1

11
12
13
14
15
16
17
18
19
20

In [14]:
m = 20
while m >= 11:
    print(m)
    m = m - 1

20
19
18
17
16
15
14
13
12
11