In [1]:
text = "united states of america"
print(text)

united states of america

In [2]:
print(text[0:6])

united

In [3]:
print(text[:6])

united

In [4]:
print(text[8:])

tates of america

In [5]:
print(text[7:])

states of america

In [6]:
print(text[7:25])

states of america

In [7]:
print(text[7:24])

states of america

In [8]:
print(text[7:23])

states of americ

In [9]:
print(text[0:24:3])

ut asfmi

In [10]:
print(text[0:24:2])

uie ttso mrc

In [11]:
text = 'united states of america'
print(text)

united states of america

In [12]:
country = """ country list :
1. ireland
2. norway
3. finland
4. denmark
5. iceland
6. sweden
"""
print(country)

 country list :
1. ireland
2. norway
3. finland
4. denmark
5. iceland
6. sweden

In [13]:
print(country)

 country list :
1. ireland
2. norway
3. finland
4. denmark
5. iceland
6. sweden

In [14]:
t1 = "united"
t2 = "states"
t3 = "of"
t4 = "america"
t5 = t1 + t2 + t3 + t4 
print(t5)

unitedstatesofamerica

In [15]:
t6 = t1 + " " + t2 + " " + t3 + " " + t4
print(t6)

united states of america

In [16]:
t7 = t1 + "" + t2 + "" + t3 + "" + t4
print(t7)

unitedstatesofamerica

In [17]:
t8 ="total states in usa is "
print(t8)

total states in usa is

In [18]:
t9 = 50
print(t9)

50

In [19]:
print ( str(t9) )

50

In [20]:
print ( t8 + str(t9) )

total states in usa is 50